In [1]:
import requests
import pandas as pd

In [2]:
symbol = 'VRSK'
api_key = 'your_key'

In [3]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
CSV_URL = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol={symbol}&interval=60min&slice=year1month1&apikey={api_key}'

df = pd.read_csv(
    CSV_URL,
    parse_dates=['time']
)

In [4]:
df_final = (
    df.assign(date=pd.to_datetime(df['time'].dt.date))
    .assign(hour=df['time'].dt.hour)
    .assign(symbol=symbol)
    .query("hour == 17 and date == '2023-04-26'")
    .drop(columns=['time','hour'])
    .reset_index()
)

In [5]:
df_final

   index    open    high     low   close  volume       date symbol
0     17  190.22  190.22  190.22  190.22   15734 2023-04-26   VRSK

In [10]:
def get_daily_prices(symbol: str, api_key: str) -> pd.DataFrame:
    CSV_URL = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol={symbol}&interval=60min&slice=year1month1&apikey={api_key}'

    df = pd.read_csv(
        CSV_URL,
        parse_dates=['time']
    )
    
    target_date = '2023-04-26'
    
    df_final = (
        df.assign(date=pd.to_datetime(df['time'].dt.date))
        .assign(hour=df['time'].dt.hour)
        .assign(symbol=symbol)
        # .query("hour == 17 and date == @target_date")
        .query("hour == 17")
        .drop(columns=['time','hour'])
        .reset_index()
    )
    
    return df_final

In [11]:
get_daily_prices(symbol='VRSK', api_key='your_key')

    index    open    high     low   close  volume       date symbol
0       0  194.11  194.11  194.11  194.11   22156 2023-04-28   VRSK
1       9  192.10  192.10  192.10  192.10   17561 2023-04-27   VRSK
2      17  190.22  190.22  190.22  190.22   15734 2023-04-26   VRSK
3      26  192.71  192.71  192.71  192.71   13380 2023-04-25   VRSK
4      34  195.80  195.80  195.80  195.80    7636 2023-04-24   VRSK
5      43  196.79  196.79  196.79  196.79   28326 2023-04-21   VRSK
6      51  194.56  194.56  194.56  194.56   47212 2023-04-20   VRSK
7      59  192.82  192.82  192.82  192.82   19203 2023-04-19   VRSK
8      67  193.14  193.14  193.14  193.14  137523 2023-04-18   VRSK
9      76  192.17  192.17  192.17  192.17   25396 2023-04-17   VRSK
10     85  191.86  191.86  191.86  191.86   51840 2023-04-14   VRSK
11     94  194.61  194.61  194.61  194.61   62126 2023-04-13   VRSK
12    102  192.17  192.17  192.17  192.17   39128 2023-04-12   VRSK
13    110  191.45  191.45  191.45  191.45   50917 2023-04-11   VRSK
14    118  190.26  190.26  190.26  190.26   14836 2023-04-10   VRSK
15    126  190.42  190.42  190.42  190.42   57042 2023-04-06   VRSK
16    134  191.46  191.46  191.46  191.46   33635 2023-04-05   VRSK
17    142  190.59  190.59  190.59  190.59   15791 2023-04-04   VRSK
18    150  191.58  191.58  191.58  191.58   23716 2023-04-03   VRSK
19    158  191.86  191.86  191.86  191.86   44297 2023-03-31   VRSK
20    166  190.96  190.96  190.96  190.96   69125 2023-03-30   VRSK